{% extends "base.html" %}
{% load i18n static %}

{% block title %}403 - {% translate "Forbidden" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="row align-items-center my-5">
        <div class="col-sm-3 mb-5">
            <img src="{% static 'images/circle-icons/roadblock.svg' %}" class="w-100" alt="">
        </div>
        <div class="col-sm-9 mb-5">
            <h1 class="h3">403 - {% translate "Forbidden" %}</h1>
            <p>{% translate "You are not allowed to access this page." %}</p>
            <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
        </div>
    </div>
{% endblock %}
