{% extends "base.html" %}
{% load i18n %}

{% block after_header %}
    <nav class="d-print-none border-bottom mb-4" aria-label="{% translate 'Breadcrumbs' %}">
        <div class="container">
            <ol class="breadcrumb text-secondary m-0 py-2">
                <li class="breadcrumb-item"><a href="/" rel="home">{% translate 'Home' %}</a></li>
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </div>
    </nav>
{% endblock %}
