{% extends view.base_template|default:"recruitment/base.html" %}
{% load static i18n %}

{% block title %}{{ object }} &middot; {{ block.super }}{% endblock %}

{% block container_class %}container-lg{% endblock%}

{% block content %}
    <h1 class="text-center">{{ object }}</h1>
    <figure class="my-5">
        <div class="mb-1" data-js="calendar"></div>
        <caption>
            <dl>
                {% for color, label in legend %}
                    <dt class="d-inline-block">
                        <svg width="0.8em" height="0.8em" class="align-baseline">
                            <circle cx="50%" cy="50%" r="50%" fill="{{ color }}" />
                        </svg>
                    </dt>
                    <dd class="d-inline-block me-3">{{ label }}</dd>
                {% endfor %}
            </dl>
        </caption>
    </figure>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'fullcalendar.js' %}"></script>
    <script src="{% static '@fullcalendar/bootstrap/index.global.min.js' %}"></script>
    <script src="{% static '@fullcalendar/core/locales/de.global.min.js' %}"></script>
    <script type="module" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'fullcalendar.css' %}">
{% endblock %}
