{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% translate 'Permissions' %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <h1 class="text-center">{% translate 'Users' %}</h1>

        {% for user in users %}
            <h2>{{ user }}</h2>
            <ul>
                {% for group in user.groups.all %}
                    <li>{{ group }}</li>
                {% endfor %}
                {% for permission in user.user_permissions.all %}
                    <li>{{ permission.name }}</li>
                {% endfor %}
            </ul>

            {% for membership in user.studymembership_set.all %}
                <h3>{% blocktranslate with study=membership.study %}In {{ study }}{% endblocktranslate %}</h3>
                <ul>
                    {% for group in membership.groups.all %}
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}

        <h1>{% translate 'Groups' %}</h1>

        {% for group in groups %}
            <h2>{{ group }}</h2>
            <ul>
                {% for permission in group.permissions.all %}
                    <li>{{ permission.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

        <h1>{% translate 'Study groups' %}</h1>

        {% for group in studygroups %}
            <h2>{{ group }}</h2>
            <ul>
                {% for permission in group.permissions.all %}
                    <li>{{ permission.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </div>
{% endblock %}
