{% extends "recruitment/participation_base.html" %}
{% load i18n static django_bootstrap5 utils auth %}

{% block title %}{% translate "Recruitment" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if not object.is_match %}
        <div class="alert alert-danger" role="alert">
            {% translate 'Subject is unsuitable or blocked in another study.' %}
        </div>
    {% else %}
        {% if object.is_match == 'incomplete' %}
            <div class="alert alert-warning" role="alert">
                {% translate 'Subject has missing recruitment attributes. Please contact to check if they are suitable.' %}
            </div>
        {% endif %}
        {% if subject.contact.has_legal_representative and study.geo_filter %}
            <div class="alert alert-warning" role="alert">
                {% translate 'This study uses a geographic filter. Please verify that the subject lives at the same address as one of their legal representatives.' %}
            </div>
        {% endif %}
    {% endif %}
    {% if not subject.has_consent_with_ineffective %}
        <div class="alert alert-warning" role="alert">
            {% translate 'Subject does not want to be contacted for recruitment. Answering a request when approached by the subject is permitted, but initiating contact is not.' %}
        </div>
    {% endif %}

    <form method="post">
        <div class="accordion mb-3" id="accordion">
            <div class="accordion-item">
                <div class="accordion-header" id="contact-heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#contact-pane" aria-expanded="true" aria-controls="contact-pane">
                        {% translate "Contacting details" %}
                    </button>
                </div>
                <div id="contact-pane" class="accordion-collapse collapse show" aria-labelledby="contact-heading" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        {% include 'contacts/__contact.html' with subject=subject %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" id="study-heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#study-pane" aria-expanded="true" aria-controls="study-pane">
                        {% translate "Talking points" %}
                    </button>
                </div>
                <div id="study-pane" class="accordion-collapse collapse" aria-labelledby="study-heading" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        {% if study.recruitment_text %}
                            {{ study.recruitment_text|urlize|linebreaks }}
                        {% endif %}
                        {% if CASTELLUM_GENERAL_RECRUITMENT_TEXT %}
                            <details class="mb-3">
                                <summary class="mb-2">{% translate 'General recruitment text' %}</summary>
                                <blockquote class="blockquote">
                                    {{ CASTELLUM_GENERAL_RECRUITMENT_TEXT|urlize|linebreaks }}
                                </blockquote>
                            </details>
                        {% endif %}
                        {% for study_type in study.study_type.all %}
                            {% if study_type.exclusion_criteria %}
                                <details class="mb-3">
                                    <summary class="mb-2">{% translate 'Criteria for:' %} {{ study_type.label }}</summary>
                                    <blockquote class="blockquote">
                                        {{ study_type.exclusion_criteria|urlize|linebreaks }}
                                    </blockquote>
                                </details>
                            {% endif %}
                        {% endfor %}
                        {% if study.has_exclusion_criteria %}
                            {% bootstrap_field form.exclusion_criteria_checked %}
                        {% endif %}

                        <dl class="row">
                            <dt class="col-sm-6">{% translate 'Type of study' %}</dt>
                            <dd class="col-sm-6">{{ study|display:'study_type' }}</dd>

                            <dt class="col-sm-6">{% translate 'Duration of sessions in minutes' %}</dt>
                            <dd class="col-sm-6">
                                {% if sessions %}
                                    {% for session in sessions %}
                                        {{ session.duration }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </dd>

                            <dt class="col-sm-6">{{ study|verbose_name:'sessions_start' }}</dt>
                            <dd class="col-sm-6">{{ study|display:'sessions_start' }}</dd>

                            <dt class="col-sm-6">{{ study|verbose_name:'sessions_end' }}</dt>
                            <dd class="col-sm-6">{{ study|display:'sessions_end' }}</dd>

                            <dt class="col-sm-6">{{ study|verbose_name:'consent' }}</dt>
                            <dd class="col-sm-6">
                                {% if study.consent %}
                                    <a href="{{ study.consent.url }}">{{ study.consent.name|basename }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        {% include 'utils/form_errors.html' with form=form %}

        {% csrf_token %}
        {% bootstrap_field form.status %}

        <fieldset class="row g-2">
            <div class="col-md-6 mb-2">{% bootstrap_field form.followup_date %}</div>
            <div class="col-md-6 mb-2">{% bootstrap_field form.followup_time %}</div>
        </fieldset>

        {% bootstrap_field form.assigned_recruiter %}

        <div class="mb-3">
            <label for="id_execution_url">{% translate 'Execution link' %}</label>
            <div class="input-group">
                <input id="id_execution_url" class="form-control" value="{% absolute_url 'execution:participation-detail' study.pk object.pk %}" readonly>
                <button type="button" class="btn btn-outline-secondary" tabindex="-1" data-clipboard="#id_execution_url" data-animation="success">{% translate 'Copy' %}</button>
            </div>
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>

{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'js/contact.js' %}"></script>
{% endblock %}
