{% extends "subjects/subject_base.html" %}
{% load static i18n %}

{% block title %}{% translate "Delete study participation" %} &middot; {{ block.super }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate with study=object.study %}Are you sure you want to <strong>permanently delete</strong> the participation in {{ study }}?{% endblocktranslate %}</p>
        <p>{% translate "This means that it would no longer be possible to find data from this study in future GDPR requests by this subject." %}</p>
        <label class="form-check mb-3">
            <input type="checkbox" class="form-check-input" data-js="confirm-delete">
            <span class="form-check-label">{% translate "I have made sure that all external data related to this study participation is either covered by retention periods or has been destroyed." %}</span>
        </label>
        <div class="d-print-none mb-3">
            <a href="{% url 'subjects:delete' subject.pk %}" class="btn btn-outline-primary mb-1" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger mb-1" disabled>{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
