{% extends "recruitment/base.html" %}
{% load i18n static auth %}

{% block title %}{{ study }} &middot; {{ block.super }}{% endblock %}

{% block header %}

    <div class="container text-center my-4">
        <h1>{{ study.name }}</h1>
    </div>

    <nav class="d-print-none" aria-label="{% translate 'Tabs' %}">
        <ul class="nav nav-tabs justify-content-center mb-3">
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'recruitment' %}active{% endif %}" href="{% url 'recruitment:recruitment-open' study.pk %}">{% translate 'Recruitment' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'mail' %}active{% endif %}" href="{% url 'recruitment:mail' study.pk %}">{% translate 'Mail' %}</a>
            </li>
        </ul>
    </nav>

{% endblock %}
