{% extends "execution/study_base.html" %}
{% load static %}

{% block container_class %}container-lg{% endblock%}

{% block content %}
    <div class="my-5" data-js="calendar"></div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'fullcalendar.js' %}"></script>
    <script src="{% static '@fullcalendar/bootstrap/index.global.min.js' %}"></script>
    <script src="{% static '@fullcalendar/core/locales/de.global.min.js' %}"></script>
    <script type="module" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'fullcalendar.css' %}">
{% endblock %}
