{% extends "execution/study_base.html" %}
{% load i18n django_bootstrap5 humanize utils %}

{% block content %}
    <p>{% translate 'This form allows you to send a message to all subjects who indicated interest in study news. You cannot attach a document to the email, but you can include a link.' %}</p>

    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.subject %}
        {% bootstrap_field form.body %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Send' %}</button>
            <button name="testmail" class="btn btn-secondary">{% translate 'Send test mail to myself' %}</button>
        </div>
    </form>

    {% if study.newsmailbatch_set.all %}
        <h3 class="mt-5">{% translate "Previous mails" %}</h3>
        <ul class="table-list mb-3">
        {% for batch in study.newsmailbatch_set.all reversed %}
            <li class="table-list-item">
                <div>
                    <small class="text-body-secondary">
                        {% blocktranslate with datetime=batch.datetime|longdate counter=forloop.revcounter|ordinal %}
                            {{ counter }} mail sent on {{ datetime }}:
                        {% endblocktranslate %}
                    </small>
                    <div>
                        {% blocktranslate with contacted_size=batch.contacted_size other_size=batch.other_size %}
                            {{ contacted_size }} subjects contacted, {{ other_size }} had to be contacted via postal mail
                        {% endblocktranslate %}
                    </div>
                    <details>
                        <summary>{{ batch.mail_subject }}</summary>
                        {{ batch.mail_body|linebreaks }}
                    </details>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
