{% load i18n auth utils %}

<div>
    <div class="h4 d-inline-block my-1 me-2">{{ study.name }}</div>
    <div class="d-inline-block my-1 me-2">
        {% for tag in study.tags.all %}
            <span class="badge text-bg-info">{{ tag }}</span>
        {% endfor %}
        {% if study.status != study.EXECUTION %}
            <span class="badge text-bg-secondary">{{ study.get_status_badge }}</span>
        {% endif %}
    </div>
    <div class="my-1">
        {% icon 'user' label=study|verbose_name:'contact_person' %}
        {{ study.contact_person }}
    </div>
</div>
<div class="table-list-item-actions">
    {% has_perm 'studies.access_study' user study as can_access %}
    {% if can_access and study.status == study.EXECUTION %}
        {% has_perm 'recruitment.recruit' user study as can_recruit %}
        {% if can_recruit %}
            <a class="btn btn-outline-primary my-1" href="{% url 'recruitment:recruitment-open' study.pk %}">{% translate 'Recruitment' %}</a>
        {% endif %}

        {% has_perm 'recruitment.conduct_study' user study as can_conduct %}
        {% if can_conduct %}
            <a class="btn btn-outline-primary my-1" href="{% url 'execution:participation-list' study.pk %}">{% translate 'Execution' %}</a>
        {% endif %}
    {% endif %}

    {% has_perm 'studies.view_study' user study as can_view_study %}
    {% if can_view_study %}
        <a class="btn btn-outline-primary my-1" href="{% url 'studies:detail' study.pk %}">
            {% translate 'Details' %}
            {% if study.action_required %}
                {% icon 'exclamation-triangle' label=_('Action required') %}
            {% endif %}
        </a>
    {% endif %}
</div>
