{% extends "base_with_breadcrumbs.html" %}

{% load i18n %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'studies:index' %}">{% translate "Studies" %}</a></li>
{% endblock %}
