{% extends view.base_template|default:"studies/study_recruitmentsettings_base.html" %}
{% load i18n auth utils %}

{% block title %}{% translate "Filter Groups" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% include 'studies/__filtergroup_common.html' %}

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span title="{% translate 'Subjects must match any of the following filtergroups.' %}">
                {% translate 'Any of these' %}
            </span>
            <span class="text-end" title="{% translate 'required' %}: {{ study.min_subject_count }} {% translate 'total' %}: {{ total_count }}" aria-label="{% blocktranslate %}{{ count }} potential subjects in total{% endblocktranslate %}">
                {% blocktranslate %}{{ count }} potential subjects in total{% endblocktranslate %}
            </span>
        </div>
        <div class="card-body">
            {% for group in object_list %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <span title="{% translate 'Subjects must match all of the following filters.' %}">
                            {% translate 'All of these' %}
                        </span>
                        <span class="text-end">{% blocktranslate with count=group.get_potential_matches.count %}{{ count }} potential subjects{% endblocktranslate %}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between flex-column flex-lg-row">
                        <div>
                            {% with filters=group.subjectfilter_set.all|list %}
                                <details>
                                    <summary>
                                        {% blocktranslate count count=filters|length %}
                                            {{ count }} filter
                                        {% plural %}
                                            {{ count }} filters
                                        {% endblocktranslate %}
                                    </summary>
                                    <ul>
                                        {% for f in filters %}
                                            <li>{{ f }}</li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            {% endwith %}
                        </div>
                        <div>
                            <form class="d-inline" method="post" action="{% url 'studies:filtergroup-duplicate' study.pk group.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary mb-1">{% translate "Duplicate" %}</button>
                            </form>
                            <a href="{% url 'studies:filtergroup-update' study.pk group.pk %}" class="btn btn-outline-primary mb-1">{% translate "Edit" %}</a>
                            <a href="{% url 'studies:filtergroup-delete' study.pk group.pk %}" class="btn btn-danger mb-1">{% translate "Delete" %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <form action="{% url 'studies:filtergroup-create' study.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">{% translate 'Add new' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
