{% extends "studies/study_base.html" %}
{% load i18n auth utils %}

{% block content %}
    <h3 class="h5">{% translate "General" %}</h3>

    <dl class="row">
        {% if 'principal_investigator' in CASTELLUM_ENABLE_STUDY_METADATA %}
            <dt class="col-sm-6">{{ object|verbose_name:'principal_investigator' }}</dt>
            <dd class="col-sm-6">{{ object|display:'principal_investigator' }}</dd>
        {% endif %}

        <dt class="col-sm-6">{% translate 'Members' %}</dt>
        <dd class="col-sm-6">
            {% for member in object.members.all %}
                {{ member.get_full_name }}{% if not forloop.last %},{% endif %}
            {% empty%}
                &mdash;
            {% endfor %}
        </dd>

        <dt class="col-sm-6">{% translate 'Consent document uploaded' %}</dt>
        <dd class="col-sm-6">{% if object.consent %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
    </dl>

    <h3 class="h5">{% translate "Pseudonym lists" %}</h3>
    <dl class="row">
        <dt class="col-sm-6">{% translate 'Count' %}</dt>
        <dd class="col-sm-6">{{ object.domains.count }}</dd>

        <dt class="col-sm-6">{% translate 'Deletion date' %}</dt>
        <dd class="col-sm-6">
            {{ object|display:'pseudonyms_delete_date' }}
            {% if study.should_enter_pseudonyms_delete_date or study.should_delete_domains %}
                {% icon 'exclamation-triangle' label=_('Action required') %}
            {% endif %}
        </dd>
    </dl>

    <h3 class="h5">{% translate "Sessions" %}</h3>
    <dl class="row">
        <dt class="col-sm-6">{% translate 'Count' %}</dt>
        <dd class="col-sm-6">{{ object.studysession_set.count }}</dd>

        <dt class="col-sm-6">{% translate 'Types of sessions' %}</dt>
        <dd class="col-sm-6">{{ object|display:'study_type' }}</dd>

        <dt class="col-sm-6">{% translate 'Scheduled runtime' %}</dt>
        <dd class="col-sm-6">
            {% if object.sessions_start and object.sessions_end %}
                {{ object.sessions_start }} - {{ object.sessions_end }}
            {% elif object.sessions_start %}
                {{ object.sessions_start }} - {% translate 'not defined' %}
            {% else %}
                &mdash;
            {% endif %}
            {% if study.should_enter_sessions_end or study.should_finish_study %}
                {% icon 'exclamation-triangle' label=_('Action required') %}
            {% endif %}
        </dd>
    </dl>

    <h3 class="h5">{% translate "Recruitment settings" %}</h3>
    <dl class="row">
        <dt class="col-sm-6">{% translate 'Participating subjects' %}</dt>
        <dd class="col-sm-6">{{ object.invited_count }}/{{ object.min_subject_count }}</dd>

        <dt class="col-sm-6">{% translate 'Potential subjects' %}</dt>
        <dd class="col-sm-6">{{ potential_count }}</dd>

        <dt class="col-sm-6">{% translate 'Recruitment text provided' %}</dt>
        <dd class="col-sm-6">{% if object.recruitment_text %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>

        <dt class="col-sm-6">{% translate 'Recruitment filters set' %}</dt>
        <dd class="col-sm-6">{% if study.has_filters %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
    </dl>

    {% if 'description' in CASTELLUM_ENABLE_STUDY_METADATA %}
        <h3 class="h5">{% translate "Description" %}</h3>
        {{ study.description|default:'—'|urlize|linebreaks }}
    {% endif %}
{% endblock %}
