{% extends "studies/study_base.html" %}
{% load static i18n django_bootstrap5 utils %}

{% block title %}{% translate "Consent" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.consent required_css_class='castellum-required' %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
