{% extends "studies/base.html" %}
{% load i18n static auth django_bootstrap5 utils %}

{% block title %}{% translate "Studies" %} &middot; {{ block.super }}{% endblock %}

{% block container_class %}container-lg{% endblock %}

{% block content %}
    <div class="mb-4 d-flex justify-content-between flex-column flex-md-row">
        <h1 class="mb-2">
            {% if form.cleaned_data.member == "all" %}
                {% translate "All studies" %}
            {% else %}
                {% translate "My studies" %}
            {% endif %}
        </h1>

        <div class="d-print-none text-end mb-2">
            {% has_perm 'studies.change_study' user as can_add_study %}
            {% if can_add_study %}
                <a href="{% url 'studies:create' %}" class="btn btn-primary mb-1">{% translate "Create new study" %}</a>
                <form class="d-inline-block" action="{% url 'studies:create-filter-trial' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary mb-1">{% translate 'Try filters' %}</button>
                </form>
            {% endif %}

            {% if form.cleaned_data.member == "all" %}
                <a class="btn btn-secondary mb-1" href="?member=my">{% translate "My studies" %}</a>
            {% else %}
                <a class="btn btn-secondary mb-1" href="?member=all">{% translate "All studies" %}</a>
            {% endif %}

            {% if form.cleaned_data.display == "calendar" %}
                <a class="btn btn-secondary mb-1" href="?member={{ form.cleaned_data.member }}&display=list">{% translate "List" %}</a>
            {% else %}
                <a class="btn btn-secondary mb-1" href="?member={{ form.cleaned_data.member }}&display=calendar">{% translate "Calendar" %}</a>
            {% endif %}
        </div>
    </div>

    {% if form.cleaned_data.display == 'calendar' %}
        <div class="mt-4 mb-5" data-js="calendar" data-layout="year"></div>
    {% else %}
        <div class="row">
            <div class="col-md-3">
                <form method="get" class="mb-3" aria-label="{% translate 'Search' %}">
                    <div class="input-group mb-4">
                        <input type="search" class="form-control" name="{{ form.q.name }}" value="{{ form.cleaned_data.q }}" placeholder="{{ form.q.label }}">
                        <button class="btn btn-primary">{% translate 'Go' %}</button>
                    </div>
                    {{ form.member.as_hidden }}
                </form>

                {% has_perm 'studies.view_study' user as can_view_study %}
                <nav class="list-group mb-3" aria-label="{{ form.status.label }}">
                    <a class="list-group-item list-group-item-custom list-group-item-action {% if not form.status.value %}active{% endif %}" href="{% url_replace_param status="" %}">{% translate "Any status" %}</a>
                    {% for value, label in form.status.field.choices %}
                        {% if value != "active_required" or can_view_study %}
                            <a class="list-group-item list-group-item-custom list-group-item-action {% if form.cleaned_data.status == value|lower %}active{% endif %}" href="{% url_replace_param status=value %}">{{ label }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>

            <div class="col-md-9">
                <ul class="table-list mb-3">
                    {% for study in object_list %}
                        <li class="table-list-item">
                            {% include 'studies/__study_item.html' with study=study %}
                        </li>
                    {% empty %}
                        <li class="alert alert-warning">
                            {% if q %}
                                {% translate 'No results found.' %}
                            {% else %}
                                {% if request.GET.member == 'all' %}
                                    {% translate 'No studies' %}
                                {% else %}
                                    {% translate 'No personal studies' %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if is_paginated %}
                    <nav aria-label="{% translate 'Pagination' %}">
                        {% bootstrap_pagination page_obj url=request.get_full_path %}
                    </nav>
                {% endif %}
            </div>
        </div>
    {% endif  %}
{% endblock %}

{% block extra_scripts %}
    {% if form.cleaned_data.display == 'calendar' %}
        <script src="{% static 'fullcalendar.js' %}"></script>
        <script src="{% static '@fullcalendar/bootstrap/index.global.min.js' %}"></script>
        <script src="{% static '@fullcalendar/core/locales/de.global.min.js' %}"></script>
        <script type="module" src="{% static 'js/calendar.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extra_styles %}
    {% if form.cleaned_data.display == 'calendar' %}
        <link rel="stylesheet" href="{% static 'fullcalendar.css' %}">
    {% endif %}
{% endblock %}
