{% extends "studies/study_domains_base.html" %}
{% load i18n auth django_bootstrap5 utils %}

{% block title %}{% translate "Pseudonym lists" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if study.should_enter_pseudonyms_delete_date %}
        <div class="alert alert-danger" role="alert">
            {% translate 'Please enter the date when pseudonym lists should be deleted!' %}
        </div>
    {% elif study.should_delete_domains %}
        <div class="alert alert-danger" role="alert">
            {% translate 'The pseudonym lists for this study should be deleted!' %}
        </div>
    {% endif %}

    <p>{% translate 'Pseudonyms allow you to store data about subjects without their names and other identifying data. Often it is sufficient to have one pseudonym per subject and study. However, if you need more than that you can create additional pseudonym lists. Note that a pseudonym is only meaningful if you know which list it is coming from.' %}</p>

    <form method="post" class="mb-5">
        {% csrf_token %}
        {% bootstrap_field form.pseudonyms_delete_date %}
        <button class="btn btn-primary">{% translate 'Save' %}</button>
    </form>

    <ul class="p-0">
        {% for domain in study.domains.all %}
            <li class="d-block">
                <form method="post" class="row align-items-center g-2 mb-3">
                    <div class="col col-md-6">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="name">
                        <input type="hidden" name="domain" value="{{ domain.key }}">
                        <label class="d-block">
                            <span class="visually-hidden">{{ domain|verbose_name:'name' }}</span>
                            <input type="text" name="name" maxlength="64" class="form-control" placeholder="{{ domain.key }}" value="{{ domain.name }}">
                        </label>
                    </div>
                    <label class="col-md">
                        <span class="visually-hidden">{{ domain|verbose_name:'key' }}</span>
                        <div class="input-group">
                            <input id="domain_key_{{ domain.key }}" class="form-control text-truncate" value="{{ domain.key }}" readonly>
                            <button type="button" class="btn btn-outline-secondary" tabindex="-1" data-clipboard="#domain_key_{{ domain.key }}" data-animation="success" title="{% translate 'Copy key' %}">
                                {% icon 'copy' label=_('Copy key') %}
                            </button>
                        </div>
                    </label>
                    <div class="col flex-grow-0">
                        <span title="{{ domain.pseudonym_set.count }} {% translate 'participants have a pseudonym in this list' %}">{{ domain.pseudonym_set.count }}/{{ study.invited_count }}</span>
                    </div>
                    <div class="col flex-grow-0">
                        <button class="btn btn-secondary">{% translate 'Save' %}</button>
                    </div>
                    <div class="col flex-grow-0">
                        <a href="{% url 'studies:domain-delete' study.pk domain.key %}" class="btn btn-danger">{% translate 'Delete' %}</a>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form method="post" class="d-print-none mb-3">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <button class="btn btn-primary">{% translate 'Add pseudonym list' %}</button>
    </form>
{% endblock %}
