{% extends "studies/study_base.html" %}
{% load static i18n %}

{% block title %}{% translate "Delete session" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate with name=object.name %}Are you sure you want to <strong>permanently delete</strong> the session "{{ name }}" and all related appointments?{% endblocktranslate %}</p>
        <div class="d-print-none mb-3">
            <a href="{% url 'studies:sessions' study.pk %}" class="btn btn-outline-primary" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
