{% extends "studies/base.html" %}
{% load i18n auth utils %}

{% block title %}{% translate 'Filter trial' %} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item">{% translate 'Filter trial' %}</li>
{% endblock %}

{% block container_class %}container-lg{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <h1>{% translate 'Filter trial' %}</h1>
    </div>
{% endblock %}

{% block content_with_messages %}
    <div class="row">
        <div class="col-md-3">
            <nav class="list-group mb-3" aria-label="{% translate 'Subtabs' %}">
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'update' %}active{% endif %}" href="{% url 'studies:recruitmentsettings' study.pk %}">{% translate 'General' %}</a>

                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'filters' %}active{% endif %}" href="{% url 'studies:filtergroup-index' study.pk %}">
                    {% translate 'Filters' %}
                </a>

                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'other-studies' %}active{% endif %}" href="{% url 'studies:other-studies' study.pk %}">{% translate 'Other studies' %}</a>
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'convert' %}active{% endif %}" href="{% url 'studies:filtertrial-convert' study.pk %}">{% translate 'Convert to study' %}</a>
            </nav>
        </div>

        <div class="col-md-9">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
