{% extends view.base_template|default:"studies/study_recruitmentsettings_base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}
    {% translate "General recruitment settings" %} &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% if study.is_filter_trial %}
            {{ form.recruitment_text.as_hidden }}
        {% else %}
            {% bootstrap_field form.recruitment_text %}
            {% if CASTELLUM_GENERAL_RECRUITMENT_TEXT %}
                <details class="mb-3">
                    <summary class="mb-2">{% translate 'General recruitment text' %}</summary>
                    <blockquote class="blockquote">
                        {{ CASTELLUM_GENERAL_RECRUITMENT_TEXT|urlize|linebreaks }}
                    </blockquote>
                </details>
            {% endif %}
            {% for study_type in study.study_type.all %}
                {% if study_type.exclusion_criteria %}
                    <details class="mb-3">
                        <summary class="mb-2">{% translate 'Criteria for:' %} {{ study_type.label }}</summary>
                        <blockquote class="blockquote">
                            {{ study_type.exclusion_criteria|urlize|linebreaks }}
                        </blockquote>
                    </details>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% bootstrap_field form.advanced_filtering %}
        {% bootstrap_field form.is_exclusive %}
        {% bootstrap_field form.complete_matches_only %}

        <div class="mb-3">
            <div class="row g-3">
                <div class="col-sm-6">{% bootstrap_field form.recruitment_active_after wrapper_class="" %}</div>
                <div class="col-sm-6">{% bootstrap_field form.recruitment_active_before wrapper_class="" %}</div>
            </div>
            <div class="form-text">{% translate 'Only subjects who have been added to the database or participated in a study during this time will be considered for recruitment.' %}</div>
        </div>

        {% if form.geo_filter %}
            {% bootstrap_field form.geo_filter %}
        {% endif %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
