{% extends "base.html" %}
{% load i18n static django_bootstrap5 auth utils %}

{% block title %}{% translate "Legal representatives" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p>{% translate 'Total number of subjects' %}: {{ count_total }}</p>

    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.search %}

        <div class="mb-4">
            <button type="button" class="btn btn-outline-primary" data-js="legal-representative-dismiss">{% translate "Dismiss" %}</button>
            <button class="btn btn-primary">{% translate 'Search' %}</button>
        </div>
    </form>

    {% if form.is_valid %}
        <div class="card">
            {% has_perm 'subjects.change_subject' user as can_change_subject %}

            {% if can_change_subject %}
                <div class="card-header">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link {{ is_post|yesno:',active' }}" id="matches-tab" data-bs-toggle="tab" href="#matches" role="tab" aria-controls="matches" aria-selected="{{ is_post|yesno:'false,true' }}">{% translate "Matches" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ is_post|yesno:'active,' }}" id="create-tab" data-bs-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="{{ is_post|yesno:'true,false' }}">{% translate "Create" %}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="tab-content card-body">
                <div class="tab-pane {{ is_post|yesno:',active' }}" id="matches" role="tabpanel" aria-labelledby="matches-tab">
                    <ul class="table-list">
                        {% for subject in matches %}
                            {% with contact=subject.contact %}
                                {% has_privacy_level subject.privacy_level user as can_access %}
                                <li class="table-list-item">
                                    {% if can_access %}
                                        <svg class="identicon my-1 me-2" data-jdenticon-value="{{ subject.pk }}" aria-hidden="true"></svg>
                                    {% endif %}
                                    <div>
                                        {% if can_access %}
                                            <div class="h4 d-inline-block my-1 me-2">
                                                {% if contact.title %}{{ contact.title }}{% endif %}
                                                {% if contact.first_name|lower == form.cleaned_data.first_name|lower %}
                                                    <mark>{{ contact.first_name }}</mark>
                                                {% else %}
                                                    {{ contact.first_name }}
                                                {% endif %}
                                                {% if contact.last_name|lower == form.cleaned_data.last_name|lower %}
                                                    <mark>{{ contact.last_name }}</mark>
                                                {% else %}
                                                    {{ contact.last_name }}
                                                {% endif %}
                                            </div>
                                            <div class="d-inline-block">
                                                {% if contact.date_of_birth %}
                                                    <div class="d-inline-block my-1 me-2">{{ contact.date_of_birth }}</div>
                                                {% endif %}
                                                {% if contact.email %}
                                                    <div class="d-inline-block my-1 me-2">
                                                        {% if contact.email|lower == form.cleaned_data.email|lower %}
                                                            <mark>{{ contact.email }}</mark>
                                                        {% else %}
                                                            {{ contact.email }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if subject.blocked %}
                                                <span class="badge text-bg-dark my-1 me-2" title="{{ subject.TOOLTIPS.blocked }}">{{ subject|verbose_name:'blocked' }}</span>
                                            {% endif %}
                                        {% else %}
                                            <h3 class="h4 d-inline-block text-body-secondary my-1 me-2">{{ contact.full_name }}</h3>
                                            <div class="d-inline-block text-body-secondary my-1 me-2">{% translate 'insufficient privacy level' %}</div>
                                        {% endif %}
                                    </div>
                                    <div class="table-list-item-actions">
                                        {% if can_access %}
                                            <button type="button" class="btn btn-primary my-1" data-js="legal-representative-use" data-name="{{ contact.full_name }}" data-uuid="{{ contact.subject.uuid }}">{% translate 'Set up as legal representative' %}</button>
                                        {% else %}
                                            <button type="button" class="btn btn-primary my-1" disabled>{% translate 'Set up as legal representative' %}</button>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endwith %}
                        {% empty %}
                            <li class="alert alert-warning">{% translate 'No matches found' %}</li>
                        {% endfor %}
                    </ul>
                </div>

                {% if can_change_subject %}
                    <div class="tab-pane {{ is_post|yesno:'active,' }}" id="create" role="tabpanel" aria-labelledby="create-tab">
                        <form method="post" data-js="contact-completeness">
                            {% for error in privacy_level_form.non_field_errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                            {% endfor %}
                            {% for error in contact_form.non_field_errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                            {% endfor %}

                            {% csrf_token %}

                            {% include 'contacts/__contact_form_top.html' with form=contact_form %}

                            {% bootstrap_field privacy_level_form.privacy_level %}

                            {% include 'contacts/__contact_form_self.html' with form=contact_form %}
                            {{ form.search.as_hidden }}

                            <button class="btn btn-primary">{% translate "Create new subject" %}</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'js/legal_representatives.js' %}"></script>
{% endblock %}
