{% extends "subjects/maintenance_base.html" %}
{% load i18n django_bootstrap5 auth utils %}

{% block title %}{% translate 'Subject creation requests' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p>{% translate 'The following people would like to be added to the database:' %}</p>

    <ul class="table-list">
        {% for subjectcreationrequest in object_list %}
            <li class="table-list-item">
                <dl class="row">
                    {% with subjectcreationrequest.contact as contact %}
                        <dt class="col-sm-4">{% translate 'Name' %}:</dt>
                        <dd class="col-sm-8">{{ contact|display:'full_name' }}</dd>

                        <dt class="col-sm-4">{{ contact|verbose_name:'email' }}:</dt>
                        <dd class="col-sm-8">
                            <a {% if contact.email %}href="mailto:{{ contact.email }}"{% endif %}>{{ contact|display:'email' }}</a>
                        </dd>

                        <dt class="col-sm-4">{{ contact|verbose_name:'phone_number' }}:</dt>
                        <dd class="col-sm-8">
                            <a {% if contact.phone_number %}href="tel:{{ contact.phone_number }}"{% endif %}>{{ contact|display:'phone_number' }}</a>
                        </dd>

                        <dt class="col-sm-4">{{ contact|verbose_name:'date_of_birth' }}:</dt>
                        <dd class="col-sm-8">{{ contact|display:'date_of_birth' }}</dd>

                        <dt class="col-sm-4">{{ contact|verbose_name:'message' }}:</dt>
                        <dd class="col-sm-8">{{ contact|display:'message' }}</dd>

                        <dt class="col-sm-4">{{ subjectcreationrequest|verbose_name:'source' }}:</dt>
                        <dd class="col-sm-8">{{ subjectcreationrequest|display:'source' }}</dd>

                        <dt class="col-sm-4">{{ subjectcreationrequest|verbose_name:'created_at' }}:</dt>
                        <dd class="col-sm-8">{{ subjectcreationrequest|display:'created_at' }}</dd>
                    {% endwith %}
                </dl>
                <div class="table-list-item-actions">
                    <form method="POST" class="d-inline-block" action="{% url 'subjects:index' %}?from-request={{ subjectcreationrequest.pk }}" target="_blank">
                        {% csrf_token %}
                        <input type="hidden" name="search" value="{{ subjectcreationrequest.contact.first_name }} {{ subjectcreationrequest.contact.last_name }}">
                        <button class="btn btn-outline-primary my-1">{% translate 'Process request' %}</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="alert alert-success">{% translate 'Nothing to do' %}</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
