{% extends "subjects/base.html" %}
{% load i18n %}

{% block container_class %}container-lg{% endblock %}

{% block title %}{% translate 'Maintenance' %} &middot; {{ block.super }}{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <h1>{% translate 'Maintenance' %}</h1>
    </div>
{% endblock %}

{% block content_with_messages %}
    <div class="row">
        <div class="col-md-3">
            <nav class="list-group mb-3" aria-label="{% translate 'Subtabs' %}">
                <a href="{% url 'subjects:maintenance-attributes' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'attributes' %}active{% endif %}">{% translate 'Recruitment attributes' %}</a>
                <a href="{% url 'subjects:maintenance-contact' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'contact' %}active{% endif %}">{% translate 'Contact' %}</a>
                <a href="{% url 'subjects:maintenance-duplicates' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'duplicates' %}active{% endif %}">{% translate 'Duplicates' %}</a>
                <a href="{% url 'subjects:maintenance-consent' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'consent' %}active{% endif %}">{% translate 'Consent' %}</a>
                <a href="{% url 'subjects:maintenance-reliability' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'reliability' %}active{% endif %}">{% translate 'Reliability' %}</a>
                <a href="{% url 'subjects:maintenance-estranged-subjects' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'estranged_subjects' %}active{% endif %}">{% translate 'Estranged subjects' %}</a>
                {% if CASTELLUM_SUBJECT_CREATION_REQUESTS_ENABLED %}
                    <a href="{% url 'subjects:maintenance-subjectcreationrequest' %}" class="list-group-item list-group-item-custom list-group-item-action {% if view.tab == 'subjectcreationrequest' %}active{% endif %}">{% translate 'Subject creation requests' %}</a>
                {% endif %}
            </nav>
        </div>

        <div class="col-md-9">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
