{% extends view.base_template|default:"subjects/base.html" %}
{% load static i18n django_bootstrap5 utils subjects %}

{% block title %}
    {% translate "Data protection" %} &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex align-items-center gap-2">
                    {% if object.consent.document %}
                        <i class="fa fa-check text-success fs-5" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-xmark text-danger fs-5" aria-hidden="true"></i>
                    {% endif %}
                    <div class="flex-grow-1">
                        {% if object.unknown_consent %}
                            <div>{% translate 'This subject has no recruitment consent yet' %}</div>
                            <small>{% translate 'Subject created on' %} {{ subject.created_at|date }}</small>
                        {% elif not object.consent.document %}
                            <div>{% translate 'This subject has declined recruitment consent' %}</div>
                            <small>{% translate 'on' %} {{ object.consent.updated_at|date }}</small>
                        {% else %}
                            <div>{% translate 'This subject has given recruitment consent' %}</div>
                            <small>
                                {% translate 'on' %} {{ object.consent.updated_at|date }}
                                &middot;
                                {% if object.consent.document.file %}
                                    <a href="{{ object.consent.document.file.url }}">{{ object.consent.document }}</a>
                                {% else %}
                                    {{ object.consent.document }}
                                {% endif %}
                                {% if object.consent.document.is_deprecated %}
                                    <span class="badge text-bg-warning">{% translate "deprecated" %}</span>
                                {% endif %}
                                {% if object.consent.file %}
                                    &middot;
                                    <a href="{% subject_media_url object.consent.file.url %}">{% translate 'Download signed document' %}</a>
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                    {% if not subject.to_be_deleted %}
                        <a href="consent/" class="btn btn-outline-primary">{% translate "Change" %}</a>
                    {% endif %}
                </div>
                {% if object.consent.document.is_deprecated %}
                    <div class="form-text text-bg-warning p-2 mb-2">
                        {% blocktranslate %}
                            The current consent refers to an outdated document and will soon expire, thus rendering the recruitment consent invalid.
                            Please contact the subject to confirm the latest document.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                {% if object.has_consent_from_before_full_age %}
                    <div class="form-text text-bg-warning p-2 mb-2">
                        {% blocktranslate %}
                            The subject has recently come of age.
                            Please contact the parents to get the child's contact information and recruitment consent.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                {% if object.unknown_consent %}
                    <div class="form-text text-bg-warning p-2 mb-2">
                        {% blocktranslate %}
                            The subject has not told us their position on recruitment consent yet.
                            Please contact and ask them to either explicitly give or decline consent to be recruited for future studies.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                <div class="form-text">
                    {% blocktranslate %}
                        Without recruitment consent, this subject will not be taken into account for future
                        recruitment. Withdrawing recruitment consent has no effect on study consent.
                        Therefore no data related to existing studies is deleted.
                    {% endblocktranslate %}
                </div>
                {% if subject.consentrevision_set.exists %}
                    <details class="mt-2">
                        <summary>{% translate 'History' %}</summary>
                        <ul>
                            {% for revision in subject.consentrevision_set.all reversed %}
                                <li class="d-flex align-items-center gap-2 mb-2">
                                    {% if revision.document %}
                                        <i class="fa fa-check text-success fs-5" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-xmark text-danger fs-5" aria-hidden="true"></i>
                                    {% endif %}
                                    <div class="flex-grow-1">
                                        {% if not revision.document %}
                                        <div>{% translate 'This subject has declined recruitment consent' %}</div>
                                        <small>{% translate 'on' %} {{ revision.created_at|date }}</small>
                                    {% else %}
                                        <div>{% translate 'This subject has given recruitment consent' %}</div>
                                        <small>
                                            {% translate 'on' %} {{ revision.created_at|date }}
                                            &middot;
                                            {% if revision.document.file %}
                                                <a href="{{ revision.document.file.url }}">{{ revision.document }}</a>
                                            {% else %}
                                                {{ revision.document }}
                                            {% endif %}
                                            {% if not revision.document.is_valid %}
                                                <span class="badge text-bg-danger">{% translate "invalid" %}</span>
                                            {% elif revision.document.is_deprecated %}
                                                <span class="badge text-bg-warning">{% translate "deprecated" %}</span>
                                            {% endif %}
                                            {% if revision.file %}
                                                &middot;
                                                <a href="{% subject_media_url revision.file.url %}">{% translate 'Download signed document' %}</a>
                                            {% endif %}
                                        </small>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
            </div>
        </div>

        {% bootstrap_field form.privacy_level %}
        {% bootstrap_field form.export_requested %}
        {% bootstrap_field form.to_be_deleted %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
