{% extends "subjects/subject_base.html" %}
{% load i18n django_bootstrap5 utils auth subjects %}

{% block title %}{% translate "Overview" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if not subject.contact.is_complete or not subject.has_legal_basis or subject.consent_action_required %}
        <p class="alert alert-danger" role="alert">
            <strong>{% translate 'Action required' %}.</strong> {% translate 'Please edit data sets marked with' %} {% icon 'exclamation-triangle' label=_('Action required') %}
        </p>
    {% endif %}

    <dl class="row">
        {% if subject.contact.has_legal_representative %}
            <dt class="col-sm-6">{{ subject.contact|verbose_name:'legal_representatives' }}</dt>
            <dd class="col-sm-6">
                {% for c in subject.contact.legal_representatives.all %}
                    {% has_privacy_level c.subject.privacy_level user as can_access %}
                    {% if can_access %}
                        <a href="{% url 'subjects:detail' c.subject.pk %}">{{ c }}</a>{% if not forloop.last %},{% endif %}
                    {% else %}
                        <span class="text-body-secondary">{% translate '(insufficient privacy level)' %}</span>{% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if subject.contact.is_legal_representative %}
            <dt class="col-sm-6">{% translate 'Legal representative of' %}</dt>
            <dd class="col-sm-6">
                {% for c in subject.contact.legal_representative_of.all %}
                    {% has_privacy_level c.subject.privacy_level user as can_access %}
                    {% if can_access %}
                        <a href="{% url 'subjects:detail' c.subject.pk %}">{{ c }}</a>{% if not forloop.last %},{% endif %}
                    {% else %}
                        <span class="text-body-secondary">{% translate '(insufficient privacy level)' %}</span>{% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        <dt class="col-sm-6">{% translate 'Subject data registered' %}</dt>
        <dd class="col-sm-6">{{ subject.created_at }}</dd>

        <dt class="col-sm-6">{% translate 'Last contacted' %}</dt>
        <dd class="col-sm-6">{{ subject.updated_at }}</dd>

        <dt class="col-sm-6">{% translate 'Recruitment attribute completeness' %}</dt>
        <dd class="col-sm-6">{{ attribute_completeness|default:'—' }}</dd>

        <dt class="col-sm-6">{{ subject|verbose_name:'privacy_level' }}</dt>
        <dd class="col-sm-6">
            {% icon 'user-shield' %}
            {{ subject|display:'privacy_level' }}
        </dd>

        <dt class="col-sm-6">{% translate "Reliability" %}</dt>
        <dd class="col-sm-6">{{ subject|display:'reliability' }}</dd>

        <dt class="col-sm-6">{% translate "Drop out rate" %}</dt>
        <dd class="col-sm-6">{{ dropout_rate }}</dd>
    </dl>

    <h2 class="h4 mt-4 mb-3">{% translate 'Legal basis for data processing' %}</h2>

    {% if not subject.has_legal_basis %}
        <p class="alert alert-warning">{% translate 'Currently there is no legal basis for storing this subject. This subject will be deleted unless you provide at least one of these options.' %}</p>
    {% endif %}

    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="p-2 {% if not subject.has_consent %}opacity-25{% endif %}">{% icon 'address-book fa-fw fa-xl' %}</div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col-sm-8">
                <strong>{% translate 'Recruitment consent' %}</strong>
                <small class="d-block text-body-secondary">
                    {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent)' %}
                </small>
            </div>
            <div class="col-sm-4">
                {% if subject.has_legal_basis %}
                    {% if not subject.has_consent_with_ineffective %}
                        {% icon 'xmark text-danger' label=_('No') %}
                    {% elif subject.deceased %}
                        <em class="text-body-secondary">{% icon 'check' label=_('Yes') %} ({% translate 'Deceased' %})</em>
                    {% elif subject.blocked %}
                        <em class="text-body-secondary">{% icon 'check' label=_('Yes') %} ({% translate 'Blocked' %})</em>
                    {% else %}
                        {% icon 'check text-success' label=_('Yes') %}
                    {% endif %}
                {% else %}
                    {% url 'subjects:data-protection' subject.pk as url %}
                    {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">set consent status</a>.{% endblocktranslate %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="p-2 {% if not subject.has_study_consent %}opacity-25{% endif %}">{% icon 'file-signature fa-fw fa-xl' %}</div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col-sm-8">
                <strong>{% translate 'Study consent' %}</strong>
                <small class="d-block text-body-secondary">
                    {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent) and Art. 27 BDSG (additional rules for scientific research)' %}
                </small>
            </div>
            <div class="col-sm-4">
                {% if subject.has_legal_basis %}
                    {% if subject.has_study_consent %}
                        {% icon 'check text-success' label=_('Yes') %}
                    {% else %}
                        {% icon 'xmark text-danger' label=_('No') %}
                    {% endif %}
                {% else %}
                    {% url 'subjects:participation-list' subject.pk as url %}
                    {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">add to a study</a>.{% endblocktranslate %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="p-2 {% if not subject.contact.is_legal_representative %}opacity-25{% endif %}">{% icon 'user-group fa-fw fa-xl' %}</div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col-sm-8">
                <strong>{% translate 'Legal representative' %}</strong>
                <small class="d-block text-body-secondary">
                    {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent) and Art. 1626, 1902 BGB (responsibilities of legal representatives)' %}
                </small>
            </div>
            <div class="col-sm-4">
                {% if subject.has_legal_basis %}
                    {% if subject.contact.is_legal_representative %}
                        {% icon 'check text-success' label=_('Yes') %}
                    {% else %}
                        {% icon 'xmark text-danger' label=_('No') %}
                    {% endif %}
                {% else %}
                    {% url 'subjects:index' as url %}
                    {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">find or create a subject</a> and set this one as their legal representative.{% endblocktranslate %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="p-2 {% if not subject.blocked or subject.deceased %}opacity-25{% endif %}">{% icon 'flag fa-fw fa-xl' %}</div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col-sm-8">
                <strong>{{ subject|verbose_name:'blocked' }}</strong>
                <small class="d-block text-body-secondary">
                    {% translate 'Art. 6 (1) lit. f GDPR (legitimate interests)' %}
                </small>
            </div>
            <div class="col-sm-4">
                {% if subject.has_legal_basis %}
                    {% if not subject.blocked %}
                        {% icon 'xmark text-danger' label=_('No') %}
                    {% elif subject.deceased %}
                        <em class="text-body-secondary">{% icon 'check' label=_('Yes') %} ({% translate 'Deceased' %})</em>
                    {% else %}
                        {% icon 'check text-success' label=_('Yes') %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
