{% extends "subjects/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "By pseudonym" %} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'subjects:resolve' %}">{% translate "By pseudonym" %}</a></li>
{% endblock %}

{% block content %}
    <p>{% translate 'Find subjects based on general pseudonym lists.' %}</p>
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.domain %}
        {% bootstrap_field form.pseudonym %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Search' %}</button>
        </div>
    </form>
{% endblock %}
