.table-list {
    list-style: none;
    padding: 0;
}

.table-list-item {
    border-bottom: 1px solid var(--bs-border-color);
    padding: 0.5rem 0;
}

@media (min-width: 576px) {
    .table-list-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .table-list-item-actions {
        flex-grow: 1;
        text-align: right;
    }
}

.table-list .table-list .table-list-item {
    padding: 0.1rem 0 0.1rem 3rem;
}

/* work around https://github.com/twbs/bootstrap/issues/25394 */
.navbar-dark .navbar-toggler-icon {
    background-image: url("images/bootstrap/hamburger.svg");
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: url("images/bootstrap/invalid.svg");
}
.form-check-input[type="checkbox"]:checked {
    background-image: url("images/bootstrap/check.svg");
}
.form-check-input[type="checkbox"]:indeterminate {
    background-image: url("images/bootstrap/indeterminate.svg");
}
.form-check-input[type="radio"]:checked {
    background-image: url("images/bootstrap/radio.svg");
}
.form-select {
    background-image: url("images/bootstrap/caret.svg");
}

/* work around https://github.com/twbs/bootstrap/issues/38480 */
:root,
[data-bs-theme="light"] {
    --bs-border-color: var(--bs-gray-400);
}
[data-bs-theme="dark"] {
    --bs-border-color: var(--bs-gray-700);
}

/* work around https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
    display: block !important;
}

.list-icon {
    display: inline-block;
    width: 1.5em;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
}

.identicon {
  height: 2rem !important;
  width: 2rem !important;
}

.blockquote {
    font-size: inherit;
    border-left: 0.25rem solid rgba(0,0,0,.125);
    padding-left: 0.75rem;
}

.list-group-item-custom {
    color: var(--bs-primary);
}

.list-group-item-custom.active {
    color: var(--bs-list-group-color);
    background-color: var(--bs-list-group-bg);
    border-color: var(--bs-list-group-border-color);
    position: relative;
}

.list-group-item-custom.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.25rem;
    background-color: var(--bs-primary);
}

.breadcrumb a {
    color: inherit;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}

.container {
    max-width: var(--bs-breakpoint-md, 768px);
}

.container-lg {
    max-width: var(--bs-breakpoint-lg, 992px);
}

.text-hyphens {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

[data-animation="success"] {
    position: relative;
}

[data-animation="success"]::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    box-sizing: content-box;
    margin-right: -0.6em;
    margin-top: -0.6em;
    border-radius: 50%;
    text-align: center;
    color: var(--bs-white);
    background-color: var(--bs-success);
    background-image: url("images/bootstrap/check.svg");
    opacity: 0;
    transition: opacity 300ms ease;
}

[data-animation="success"].animation-active::after {
    opacity: 1;
}

@media print {
    .alert {
        display: none !important;
    }
}

.dl-inline dt,
.dl-inline dd {
    display: inline-block;
}
.dl-inline dt::after {
    content: ": ";
}
.dl-inline dd {
    margin: 0 1em 0 0;
}

.diff-changed {
    color: var(--bs-orange);
}
.diff-added {
    color: var(--bs-green);
}
.diff-removed {
    color: var(--bs-red);
}

.castellum-required > label::after {
    content: " *";
}

input:checked + .checkbox-opacity {
    opacity: 0.5;
}

/* adapt full calendar to bootstrap 5 */
.fc-theme-bootstrap a:not([href]) {
    text-decoration: none;
}
.fc .table-bordered tr {
    border: 0;
}
.fc .table-bordered,
.fc  td,
.fc  th {
    border: 1px solid var(--bs-gray-300);
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    background-color: var(--bs-primary);
}
